<!DOCTYPE html>

<html lang="en">
{% load crispy_forms_tags %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <title>{% block title %}Comment Store Application{% endblock %}</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="margin-left: 1%">
            <span class="navbar-brand">WebApps</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'home' %}>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'create_new_admin' %}>New admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'view_all_accounts' %}>All accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'view_all_transactions' %}>All transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'view_all_requests' %}>All requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'logout_user' %}>Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#"><b><font color="red">User: {{ user.username }}</font></b></a>
                        </li>
                    {% elif user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'home' %}>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'points_transfer' %}>Go to Pay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'make_request' %}">Make a Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'payments_history' %}">Payments History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'past_request' %}">Past Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'logout_user' %}>Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#"><b><font color="green">User: {{ user.username }}</font></b></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container py-5">
    {% block content %}
        hello, this is base.html
    {% endblock %}
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
